/*Setup*/
/*
body {background: #2f2f2f; display: flex; align-items: center; justify-content: center; min-height: 100vh }
html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }
*/
/* Main styles*/
.form {
  position: relative;
  width: 30rem;
  background: #57bd84;
  border-radius: 0.7rem;
}

.input {
  height: 3rem;
  font-family: "Lato", sans-serif;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
  outline: 0; /* <-- should probably remove this for better accessibility, adding for demo aesthetics for now.*/
  width: 100%;
  background: #fff;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none; /*for iOS input[type="search"] roundedness issue. border-radius alone doesn't work*/
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.button {
  height: 3rem;
  font-family: "Lato", sans-serif;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
  display: none; /* prevent being able to tab to it*/
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 0.7rem 0.7rem 0;
}
.input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
  + .button {
    display: block;
  }
}
.label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
