
/*sidebar*/
.sidebar{
    display: block;
    background-color: var(--primary);
    padding: 2rem;
    border-width: 1px;
}

.sidebar a{
    border-bottom-width: 1px;
    padding: 10px;
    display: block;
}

.sidebar a:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

/*dropdown*/
.dropdown {
    background-color: var(--secondary);
    margin-left: 20px;
    display: block;
    overflow: hidden;
    transition: all 0.4s;
    max-height: 0px;
}

.dropdown a{
    border-bottom-width: 1px;
}

.dropdown:hover {
    max-height: 500px;
    transition: all 0.4s;
}

.sidebar *:hover + div{
    max-height: 500px;
    transition: all 0.4s;
}
/*---dropdown---*/
/*---sidebar---*/

.main {
    height: 100%;
    display: block;
    background-color: var(--secondary);
    padding: 2rem;
    width: 100%;
    border-width: 1px;
}

.main input{
    outline-color: var(--accent);
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 1rem 0px;
    border-color: var(--secondary);
    border-width: 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    resize: none;
}

.main input:focus{
    outline-style: solid;
    outline-width: 2px;
}
/*
.main > div:nth-of-type(1){

    display: block;
    border-width: 1px;
    padding: 10px;
    transition: all 0.4s;
}*/
/*
.main textarea:focus{
    border-color: var(--accent);
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main button{
    display: block;
    height: 0px;
    opacity: 0;
    transition: all 0.4s;
}

.main textarea:focus~button{
    height: 30px;
    opacity: 1;
}*/